body{
    background-color: rgb(7, 7, 7);
}

img{
    width:50%;
    inline-size:100%;
}

h4, h3, h1{
    color:aliceblue;
    text-align: center;
}
audio{
    margin-left: 475px;
}

footer{
    color: aliceblue;
    text-align: center;
}